{% extends 'base.html' %}
{% block title %}Register{% endblock %} 
{% block content %}
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h2>Register as Teacher or Student</h2>

    <form method="post" action="{% url 'register_user' %}">
      {% csrf_token %}
      <label for="role">Role:</label>
      <select name="role" id="role" class = "form-select">
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
      </select>
      <br>
      <div id="teacher-form" style="display: none">{{ teacher_form.as_p }}</div>

      <div id="student-form" style="display: none">{{ student_form.as_p }}</div>

      <button type="submit" class = "btn btn-primary">Register</button>
    </form>

    <script>
      document.getElementById("role").addEventListener("change", function () {
        var role = this.value;
        console.log("Role selected: " + role);
        document.getElementById("teacher-form").style.display =
          role === "teacher" ? "block" : "none";
        document.getElementById("student-form").style.display =
          role === "student" ? "block" : "none";
      });
    </script>
  </body>
</html>
{% endblock %}
